@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel:wght@500&family=Rajdhani:wght@300&family=Special+Elite&display=swap');


p,h3,h5,h2,h1, button, a{
    font-family: Special Elite;
}
h5,h2{
    color: rgba(148, 24, 8, 0.925);
}
.formulario{
    font-family: Special Elite;
}
#judas{
    width: 70px;
    justify-content: center;
    align-items: center;
}
/* navbar */
.img-logo{
    width: 70px;
    height: 60px;
    object-fit: fill;
    object-position: center;
    /* fit para que se contenga en un tamaño sin deformarse */
}
.img-car{
    height: calc(100vh - 76px) ;
    /* alli hacemos un calculo para que la foto este alta del tamaño de la pantalla y le restamos el tamaño de la navbar de esa */
    object-fit:fill;
    object-position: center;
}
#fuego{
    background-color: black;
    border: 4px solid rgb(204, 88, 53);
}
.pantalla{
    position: absolute; /* para que se salga del flujo, absolute, w para que ocupe todo el espacio del carrusel y el height, display flex para que podamos alinearlo y justificarlo al centro, justify para horizontal, align para vertical y text align para centrar el texto*/
    z-index: 1;
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cuadro{
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.795);
padding: 20px;
color: rgba(255, 255, 255, 0.849);
width: 50vw; /* 50vw para que no ocupe todo el ancho */
}
.img-card{
    /* si no ponemos el ancho width es del 100% */
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.video-iframe{
    width: 100%;
    height: 250px;
}
.mapa-iframe{
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;  
}
.chopo{
    justify-content: center;
}
#mot{
    align-items: center;
    justify-content: center;
}

